language: python
python:
- '2.7'
- '3.3'
- '3.4'
- '3.5'
- pypy
install:
- pip install pip --upgrade
- pip install six
- pip install requests-mock
- pip install coveralls
- pip install nose nose-parameterized
- pip install wheel
- pip install twine
script:
- coverage run --source=oandapyV20 setup.py test
after_success:
- coveralls
deploy:
  provider: pypi
  user: hootnot
  password:
    secure: Jr+/eYSrysSQcSaC8gW5TJak3AycoMlPe3QfOE/CV7n9RYn5JsXudUhWTFiC4c78CAGu14F3Iu6TQPiC0CZrWc04Gi9H1xnWniAXRsr8xKiSfyL1zpHRoBmP6zbdOGc6zk8Jjit1YUNSdp2W/YA7Ii1BwwLQ/h+er8IqZxoGNs3kh51G/2dYOU085VELbz9S1um27e+oJuAOurrfZiPGdjnnUVALfQcuRrEWRS3Cc+1LDiKbHWD1dBlVvf71okyBAd2gnT+bBjCpKiBmjHzEnRO2mdjPBA+2lOI8EOr0E3Ueb/9q3ID3H9UPnb2ZL9VhqxutLVB0fEbHpiAPcG7MPwKN8EWTDIPDGUP9/DEUDX0qV0eybP8yl/5+2l4np0a+cqSkHJfeLZwxixaOs02qP6SMScxfsf+N6BhlIKCpNnESkpsdESlkgG0lxkoJVOR8Pf0otTd0lIjLl/Iy4I7SoRwFNHiUg1naQHIVvbFdsYeM0KZQUQtLEUN/pcjZkRJsHkZHZNo/KSB27xECbPUcrzBorMc8EL1s9H51q8HhhDufnAel3Y0IW3aMR4cN3gX0H+udEEbWgeVf7p7xZESJgmntYoHWICpzK2uNvxJZ2+gkJQKPL4fERSskjo+7UUf6mwi32HNk0oAOyGDGxtgbCEyZ0GazZLzFYAIsiR1Uj88=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: hootnot/oanda-api-v20
    branch: pypi-upload
